@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-angle: 360deg;
}

@property --gradient-angle {
  syntax: "<angle>"; /* angle otherwise it doesnt work */
  initial-value: 360deg;
  inherits: false;
}

@layer base {
  /*
    CSS RESET
    https://www.joshwcomeau.com/css/custom-css-reset/
  */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  html[data-theme="light"] {
    scrollbar-color: var(--slate-500) var(--amber-100);
  }

  html[data-theme="dark"] {
    scrollbar-color: var(--gray-950) var(--gray-900);
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
}

@layer base {
  :root {
    --content-width: 55rem;
    --outer-content-width: 80rem;
    --viewport-padding: 16px;
    --trimmed-content-width: calc(
      var(--content-width) - var(--viewport-padding) * 2
    );
  }
}

@layer components {
  .article-grid {
    display: grid;
    grid-template-columns: 1fr 768px 1fr; /* 1fr for flexible columns and 768px for the middle column */
    gap: 16px; /* Adjust the gap between columns as needed */
  }

  .table-of-contents {
    min-height: calc(-144px + 100vh);
    overflow: auto;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .scrollbar-stable {
    scrollbar-gutter: stable;
  }
}
